registry=http://16.170.249.32:8081/mithuntechnologies/repository/nodejsmithuntechnologies/
//16.170.249.32:8081/mithuntechnologies/repository/nodejsmithuntechnologies/:_auth=YWRtaW46QXlpbmRl
always-auth=true
